body {
  font-size: 14px;
  padding: 0 20px;

  @media (max-width: 550px) {
    font-size: 20px;
  }
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}
